anyconfig==0.13.0
binpickle==0.3.4
certifi==2022.5.18.1
cffi==1.15.0
chardet==4.0.0
csr==0.4.1
idna==2.10
lenskit==0.14.1
llvmlite==0.38.1
msgpack==1.0.4
numba==0.55.2
numpy==1.22.4
pandas==1.4.2
psutil==5.9.1
pyarrow==8.0.0
pycparser==2.21
python-dateutil==2.8.2
pytz==2022.1
requests==2.25.1
scipy==1.8.1
seedbank==0.1.2
six==1.16.0
urllib3==1.26.9
